h2,h3,h4,h5,h1,p{
    margin: 0;
}


.bg-primary {
    background-color: black !important;
}


body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}


main{
    flex-grow: 1;

}

.my-min-h{
    min-height: 20vh;
}

input{
    outline: none;
    border: none;
}


.my-w{
    width: 12%;
}


p,h1,h2,h3,h4,h5{
    font-family: 'EB Garamond', serif;
}

.my-red-text{
    color: rgb(185, 0, 0);
}

.my-gray-text{
    color: rgb(122, 122, 122);
}

.my-green-text{
    color: rgb(5, 143, 0);
}

.my-b-border{
    border-bottom: 2px dotted rgba(255, 0, 0, 0.342);
}

.my-bg-img{
    background-image: url(./assets/MENU_AllocationOfEstus.PNG);
    background-repeat: repeat-y;
    background-size:contain;
    background-color: rgb(37, 37, 37)
}

.my-grad{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 55%, rgba(91,78,57,1) 100%);
}

.soul-text{

color: rgba(255, 255, 255, 0.712);
text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(113, 246, 255, 0.507);

}


.my-opacity{
    opacity: 0.2;
}

.my-btn {

    padding-left: 1rem;
    padding-right: 1rem;
  background: #f7a934;
  background-image: -webkit-linear-gradient(top, #f7a934, #9c2424);
  background-image: -moz-linear-gradient(top, #f7a934, #9c2424);
  background-image: -ms-linear-gradient(top, #f7a934, #9c2424);
  background-image: -o-linear-gradient(top, #f7a934, #9c2424);
  background-image: linear-gradient(to bottom, #f7a934, #9c2424);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffeabf;
  border: solid #8c1f1f 2px;
  text-decoration: none;
}

.my-btn:hover {
  background: #edfa3c;
  background-image: -webkit-linear-gradient(top, #edfa3c, #eb7e1e);
  background-image: -moz-linear-gradient(top, #edfa3c, #eb7e1e);
  background-image: -ms-linear-gradient(top, #edfa3c, #eb7e1e);
  background-image: -o-linear-gradient(top, #edfa3c, #eb7e1e);
  background-image: linear-gradient(to bottom, #edfa3c, #eb7e1e);
  text-decoration: none;
}

.card{
    background: none;
}