
.bg-primary {
    background-color: black !important;
}

body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}


main{
    flex-grow: 1;
}

.my-min-h{
    min-height: 20vh;
}

input{
    outline: none;
    border: none;
}

img{

}

.my-w{
    width: 18%;
}

.my-abs{
    bottom: -1rem;
}