h2{
    margin: 0;
}

.bg-primary {
    background-color: black !important;
}

body{
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}


main{
    flex-grow: 1;
}

.my-min-h{
    min-height: 20vh;
}

input{
    outline: none;
    border: none;
}

img{

}

.my-w{
    width: 12%;
}


p,h1,h2,h3,h4,h5{
    font-family: 'EB Garamond', serif;
}

.my-red-text{
    color: rgb(185, 0, 0);
}

.my-gray-text{
    color: rgb(122, 122, 122);
}

.my-b-border{
    border-bottom: 4px dotted blue;
}